:root {
    --color-primary: #4b88a2;
    --color-secondary: #BB0A21;
    --color-tertiary: #D3D4D9;
    --color-light: #FFF9FB;
    --color-dark: #252627;
}

body {
    background-color: var(--color-dark);
    color: var(--color-light);
    font-size: larger;
}

.top-banner {
    color: var(--color-light);
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.viewport{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
}

.questions{
    width: 100%;
}

.answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
    
}

.btn-start {
    border-radius: 5px;
    border-width: 2px;
    border-color: var(--color-light);
    padding: 15px;
    margin: 5px;
    min-height: 20px;
    background-color: var(--color-secondary);
    width: 500px;
    font-size: larger;
}

.btn-answer {
    border-radius: 5px;
    border-width: 2px;
    border-color: var(--color-light);
    padding: 15px;
    margin: 5px;
    min-height: 20px;
    background-color: var(--color-secondary);
    width: 200px;
}